NODE_ENV=development
DATABASE=mongodb://user:pw@ds040877.mlab.com:40877/app-name
MAIL_USER=
MAIL_PASS=
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
PORT=5555
MAP_KEY=google map key
SECRET=snickers
KEY=sweetsesh
