extends layout

block content
    .inner
        h2= title
        ul.tags
            each category in categories
                li.tag
                    a.tag__link(href=``)
                        span.tag__text= category.category