extends layout

include mixins/_dealCard

block content
    .inner
        h2= title
        #{h.dump(days)}
        ul.tags
            each day in days
                li.tag
                    a.tag__link(href=`/deals/${day.daySlug}`)
                        span.tag__text= day.name
        .stores
            each deal in deals
                +dealCard(deal)
