extends layout

include mixins/_storeCard

block content
    #{h.dump(user)}
    .inner
        h2= title
            .stores
                each store in stores
                    +storeCard(store)
