mixin categoryForm(category = {})
    form(action=`/categories/add` method="POST" class="card")
        label(for="category") Category
        input(type="text" name="category" id="category" required)
        input(type="submit" value="Save →" class="button")